@model PagedList.IPagedList<mInvoice.Models.Countries>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(@Resources.Resource.create_new, "Create")
</p>

@using (Html.BeginForm("Index", "Countries", FormMethod.Get))
{
    <p>
        @Resources.Resource.find_by_name @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value=@Resources.Resource.search  />
    </p>
}

<table class="table">
    <tr>
        <th>         
            @Html.ActionLink(@Resources.Resource.country_code, "Index", 
                new { sortOrder = ViewBag.CodeSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(@Resources.Resource.country_name, "Index", 
                new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(@Resources.Resource.active, "Index", 
                new { sortOrder = ViewBag.ActiveSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink(@Resources.Resource.edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(@Resources.Resource.details, "Details", new { id=item.Id }) |
            @Html.ActionLink(@Resources.Resource.delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))