@*@model mInvoice.Controllers.PageViewModel*@

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

    bool _show_menu = Request.IsAuthenticated;
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @Resources.Resource.app_name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css" + (mInvoice.Helpers.CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/jquery-filestyle.min.css" rel="stylesheet" />

    <style>
        a.logo {
            background: url(../Images/invoice_32_32.png) no-repeat bottom center;
            display: block;
            width: 32px;
            height: 32px;
            text-indent: -9999px; /* hides the link text */
        }

        .dropdown-submenu {
            position: relative;
        }
            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px 6px;
                border-radius: 0 6px 6px 6px;
            }
            /*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
             .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #cccccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #ffffff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
    </style>

</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Resource.app_name, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @*<a class="navbar-brand" href="http://bootply.com"><i class="icon-home icon-white"> </i> Lorem Ipsum blog</a>*@
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-item ">@Html.ActionLink(@Resources.Resource.home_site, "Index", "Home")</li>
                    @if(_show_menu)
                    { 
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.basic_claims_data +</a>
                            <ul class="dropdown-menu">
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.client, "Index", "Clients")</li>
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.customers, "Index", "Customers")</li>
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.article, "Index", "Articles")</li>
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.countries, "Index", "Countries")</li>
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.method_of_payment, "Index", "Payment_method")</li>
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.rates_of_taxes, "Index", "tax_rates")</li>
                            </ul>
                        </li>
                        <li class="menu-item ">@Html.ActionLink(@Resources.Resource.invoices, "Index", "Invoice_header")</li>
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.reports +</a>
                            <ul class="dropdown-menu">
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.article, "articles", "Reports")</li>                           
                                <li class="menu-item ">@Html.ActionLink(@Resources.Resource.customers, "customers", "Reports")</li>
                            </ul>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-right:70px;">
                        @using (Html.BeginForm("SetCulture", "Home", FormMethod.Get, new { @class = "navbar-search navbar-form" }))
                        {
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Languages
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("English", "SetCulture", "Home", new { id = 1 }, null)</li>
                                    <li>@Html.ActionLink("German", "SetCulture", "Home", new { id = 2 }, null)</li>
                                </ul>
                            </div>                         
                        }
                    </li>
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Resource.app_name</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap" + (mInvoice.Helpers.CultureHelper.IsRighToLeft() ? "-rtl" : ""))

    <script src="~/Scripts/jquery-filestyle.min.js"></script>

    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Utilities.js"></script>

    <script language="javascript">

        // MENU BAR
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
            // Avoid following the href location when clicking
            event.preventDefault();
            // Avoid having the menu to close when clicking
            event.stopPropagation();
            // If a menu is already open we close it
            //$('ul.dropdown-menu [data-toggle=dropdown]').parent().removeClass('open');
            // opening the one you clicked on
            $(this).parent().addClass('open');

            var menu = $(this).parent().find("ul");
            var menupos = menu.offset();

            if ((menupos.left + menu.width()) + 30 > $(window).width()) {
                var newpos = -menu.width();
            } else {
                var newpos = $(this).parent().width();
            }
            menu.css({ left: newpos });

        });

        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);

    </script>

  

</body>
</html>