<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Anwendungsname", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-collapse collapse">*@
            <nav>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                    <li>
                        <a href="#">Stammdaten</a>
                        <ul>
                            <li>@Html.ActionLink("Mandanten", "Index", "Clients")</li>
                            <li>@Html.ActionLink("Kunden", "Index", "Customers")</li>
                            <li>@Html.ActionLink("Länder", "Index", "Countries")</li>
                            <li>@Html.ActionLink("Zahlungsart", "Index", "Payment_method")</li>
                        </ul>
                    </li>
                </ul>
            </nav>
            @Html.Partial("_LoginPartial")
            @*</div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("body nav li").each(function () {
                if ($(this).find("ul").length > 0) {

                    //show subnav on hover
                    $(this).mouseenter(function () {
                        $(this).find("ul").stop(true, true).slideDown();
                    });

                    //hide submenus on exit
                    $(this).mouseleave(function () {
                        $(this).find("ul").stop(true, true).slideUp();
                    });

                    $(this).find("ul").mousemove(function () {
                        $(this).stop(true, true).show();
                    });
                }
            });
        });
    </script>
</body>
</html>
