@model mInvoice.Models.Articles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.article_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.article_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        @*<dt>
        @Html.DisplayNameFor(model => model.CreatedAt)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CreatedAt)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UpdatedAt)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UpdatedAt)
    </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Tax_rates.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax_rates.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink(@Resources.Resource.back_to_list, "Index")
</p>
