@model IEnumerable<mInvoice.Models.Articles>

@{
    ViewBag.Title = @Resources.Resource.article;
}

<h2>@Resources.Resource.article</h2>

<p>
    @Html.ActionLink(@Resources.Resource.create_new, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.article_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Tax_rates.description)
        </th>
        <th>
            @*@Resources.Resource.edit_delete*@
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.article_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Tax_rates.description)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit", title = @Resources.Resource.edit }) &nbsp;&nbsp;
           @*@Html.ActionLink("Details", "Details", new { id=item.Id }) &nbsp;*@
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash", title = @Resources.Resource.delete })
        </td>
    </tr>
}

</table>
