@model mInvoice.Models.Invoice_header

@{
    ViewBag.Title = @Resources.Resource.delete;
}

<h2>@Resources.Resource.delete</h2>

<h3>@Resources.Resource.are_you_sure_delete</h3>
<div>
    <h4>@Resources.Resource.invoices </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.invoice_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoice_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Countries.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.customer_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.customer_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.cash_discount)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.cash_discount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Resource.delete class="btn btn-default" /> |
            @Html.ActionLink(@Resources.Resource.back_to_list, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
