@model PagedList.IPagedList<mInvoice.Models.Invoice_header>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@*@model IEnumerable<mInvoice.Models.Invoice_header>*@

@{
    ViewBag.Title = @Resources.Resource.invoices;
}

<h2>@Resources.Resource.invoices</h2>

<p>
    @Html.ActionLink(@Resources.Resource.create_new, "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Invoice_header", FormMethod.Get))
{
    <table style="margin-bottom:1.5em;margin-top:1.5em;">
        <tr>
            <td>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            </td>
            <td>
                &nbsp;
                <label class="radio-inline">
                    @Html.RadioButton("radioPaid", "true", new { sortOrder = ViewBag.IsPaid }) @Resources.Resource.paid</label>
                <label class="radio-inline">
                    @Html.RadioButton("radioPaid", "false", new { sortOrder = ViewBag.IsPaid }) @Resources.Resource.not_paid</label>
                <label class="radio-inline">
                    @Html.RadioButton("radioPaid", "null", new { sortOrder = ViewBag.IsPaid }) @Resources.Resource.all</label>
            </td>
            <td>
                <input type="submit" value=@Resources.Resource.search class="btn btn-default" style="margin-left:1em;" />
            </td>
            
        </tr>
    </table>
}

<table class="table">

    <tr>
        <th>
            @Html.ActionLink(@Resources.Resource.invoice_no, "Index",
                new { sortOrder = ViewBag.invoice_noSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
            @Html.ActionLink(@Resources.Resource.customer_no, "Index",
                new { sortOrder = ViewBag.customers_idSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        *@
        <th>
            @Html.ActionLink(@Resources.Resource.customer, "Index", new { sortOrder = ViewBag.customerSortParm })
        </th>
        <th>
            @Html.ActionLink(@Resources.Resource.order_date, "Index", new { sortOrder = ViewBag.order_dateSortParm })
        </th>
        <th>
            @Html.ActionLink(@Resources.Resource.paid_at, "Index", new { sortOrder = ViewBag.paid_atParm })
        </th>
        @*<th>
                @Html.ActionLink(@Resources.Resource.delivery_date, "Index",
                    new { sortOrder = ViewBag.delivery_dateSortParm })
        </th>*@
        @*<th>
                @Html.ActionLink(@Resources.Resource.city, "Index",
                    new { sortOrder = ViewBag.citySortParm })
            </th>
            <th>
               @Html.ActionLink(@Resources.Resource.country_code, "Index",
                    new { sortOrder = ViewBag.country_codeSortParm })
            </th>*@
        <th>
            @*@Resources.Resource.edit_delete*@
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.invoice_no)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Customers.customer_no)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Customers.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paid_at )
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.delivery_date)
             </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Countries.name)
                </td>*@

            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit", title = @Resources.Resource.edit })
                @*@Html.ActionLink("Details", "Details", new { id=item.Id })*@
                @Html.ActionLink(" ", "Details", new { id = item.Id }) &nbsp;&nbsp;
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash", title = @Resources.Resource.delete })
            </td>
        </tr>
        <tr>
            <td colspan="4" style="border:none ">
                @Html.ActionLink(@Resources.Resource.positions, "Index", "Invoice_details", 
                    new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink(@Resources.Resource.copy, "Copy_invoice", "Invoice_header",
                    new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink(@Resources.Resource.mark_as_paid, "mark_as_paid", "Invoice_header",
                    new { id = item.Id},
                    new { onclick = "return confirm('" + @Resources.Resource.are_you_sure_change_paying + "');", 
                          @class = "btn btn-primary btn-xs" }                    
                )
                @Html.ActionLink(@Resources.Resource.invoice, "rp_invoice_details", "Reports", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink(@Resources.Resource.email, "EmailForm", "Invoice_header", new { id = item.Id, zugferd = false }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink(@Resources.Resource.archive, "Archive", "Invoice_header", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })

            </td>
        </tr>
    }

</table>

@if (TempData["result_message"] != null)
{
    @Html.Raw(TempData["result_message"])
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

