@model mInvoice.Models.Invoice_details

@{
    ViewBag.Title = @Resources.Resource.delete;
}

<h2>@Resources.Resource.delete</h2>

<h3>@Resources.Resource.are_you_sure_delete</h3>
<div>
    <h4>@Resources.Resource.positions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_netto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_netto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articles.article_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articles.article_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_header.invoice_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_header.invoice_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax_rates.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax_rates.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Resource.delete class="btn btn-default" />&nbsp;
            @Html.ActionLink(@Resources.Resource.back_to_list, "Index", new { id = Session["invoice_header_id"] })
        </div>
    }
</div>
